google-cloud-storage==1.41.0
altair==4.1.0
bs4==0.0.1
fonttools==4.28.4
matplotlib==3.5.1
numpy==1.20.3
pandas==1.3.5
Pillow==8.4.0
pyarrow==6.0.1
seaborn==0.11.2
shap==0.40.0
sklearn==0.0
xlrd==2.0.1
keras
tensorflow
mlxtend
protobuf==3.20.*